body {
    min-width: $body-min-width;
    letter-spacing: rem(1px);
    text-size-adjust: 100%;
    // text-transform: uppercase;

    &.page-template-tpl-music-overview {
        color: $primary;
        background-color: $secondary;
    }
}

p {
    &:last-child {
        margin-bottom: 0;
    }
}

a {
    transition: $transition-base;
    transition-property: text-decoration-color, color, outline;

    &:focus {
        outline: rem(2px) solid currentColor;
        outline-offset: rem(4px);

        .using-mouse & {
            outline: none;
        }
    }
}
