.form {
    width: 100%;

    &--width-small {
        max-width: rem(300px);

        @include respond-above(md) {
            max-width: rem(340px);
        }
    }

    &__field,
    &__input {
        width: 100%;
    }

    &__field {
        &--inline-send {
            display: flex;
        }
    }

    &__submit,
    &__input {
        text-transform: uppercase;
        line-height: 1.25;
        font-family: Arial, sans-serif;
        border: none;
        border-radius: 0;
    }

    &__input {
        padding: 0 rem(6px);
        font-size: rem(10px);
        outline: none;
        transition: outline $transition-base;

        @include respond-above(md) {
            font-size: rem(12px);
        }

        &:focus {
            outline: $primary solid rem(2px);
            outline-offset: rem(-3px);
        }

        .form__field--inline-send & {
            flex-grow: 1;
            height: rem(24px);
        }
    }

    &__submit {
        display: flex;
        align-items: center;
        padding: 0 rem(6px);
        white-space: nowrap;
        font-size: rem(10px);
        background-color: $gray-400;
        outline: none;
        transition: background-color $transition-base;

        @include respond-above(md) {
            font-size: rem(11px);
        }

        &:focus {
            background-color: $gray-600;
        }

        .form__field--inline-send & {
            flex-grow: 1;
        }
    }
}
