body {
    min-width: $body-min-width;
    letter-spacing: rem(1px);
    text-size-adjust: 100%;
    text-transform: uppercase;
}

a {
    color: $white;
    transition: $transition-base;
    transition-property: text-decoration-color, color;
}
