main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: $main-outer-row-height minmax(#{$main-inner-row-min-height}, #{$main-inner-row-max-height}) $main-outer-row-height;
    grid-row-gap: $main-row-gap;
    align-items: center;
    justify-content: center;
    max-width: rem(1920px);
    margin-left: auto;
    margin-right: auto;
    padding: $main-padding;

    @media (max-width: $body-min-width - rem(0.02px)) {
        grid-template-rows: $main-outer-row-height minmax(#{$main-inner-row-min-height-min}, #{$main-inner-row-max-height-min}) $main-outer-row-height;
        padding: $main-padding-min;
    }

    @include respond-above(md) {
        grid-template-rows: $main-outer-row-height minmax(#{$main-inner-row-md-min-height}, #{$main-inner-row-md-max-height}) $main-outer-row-height;
        padding: $main-md-padding;
    }

    @include respond-above(xxl) {
        grid-template-rows: $main-outer-row-height minmax(#{$main-inner-row-min-height-max}, #{$main-inner-row-max-height-max}) $main-outer-row-height;
        padding: $main-padding-max;
    }

    > .nav-item {
        position: relative;

        &:nth-child(1),
        &:nth-child(2) {
            grid-row: 1 / span 1;
        }

        &:nth-child(1),
        &:nth-child(4) {
            grid-column: 1 / span 1;
        }

        &:nth-child(2),
        &:nth-child(4) {
            grid-column: 2 / span 1;
            text-align: right;
        }

        &:nth-child(3),
        &:nth-child(4) {
            grid-row: 3 / span 1;
        }
    }

    > .content {
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
        display: grid;
        grid-template-rows: rem(24px) 1fr rem(24px);
        grid-row-gap: rem(32px);

        > * {
            margin-left: auto;
            margin-right: auto;
        }

        > .spinning-logo {
            grid-row: 2;
        }

        > #form-mailing {
            grid-row: 3;
        }
    }
}
