.rollout {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100%;
    height: 0;
    padding-left: rem(4px);
    padding-right: rem(4px);
    overflow: auto hidden;
    white-space: nowrap;
    // color: $primary;
    color: red;
    background-color: $secondary;
    transition: height 0.5s linear;

    @include respond-above(md) {
        max-width: rem(360px);
    }
}
