@font-face {
  src: local("Rockwell"),
       url("../fonts/rockwell/rockwell-regular.ttf") format("truetype");
  font-family: "Rockwell";
  font-display: swap;
  font-style: normal;
  font-weight: $font-weight-base;
}
