// Body
$body-min-width: rem(320px);

// Main
$main-padding-min: rem(16px);
$main-padding: 5vw;
$main-md-padding: 7.5vw;
$main-padding-max: rem(144px);

$main-row-gap: rem(40px);

$main-outer-row-height: rem(20px);

$main-inner-row-min-height-min: rem(320px);
$main-inner-row-min-height: $main-inner-row-min-height-min;
$main-inner-row-md-min-height: $main-inner-row-min-height;
$main-inner-row-min-height-max: $main-inner-row-md-min-height;

$main-inner-row-max-height-min: calc(100vh - (#{$main-padding-min} * 2) - (#{$main-outer-row-height} * 2) - (#{$main-row-gap} * 2));
$main-inner-row-max-height: calc(100vh - (#{$main-padding} * 2) - (#{$main-outer-row-height} * 2) - (#{$main-row-gap} * 2));
$main-inner-row-md-max-height: calc(100vh - (#{$main-md-padding} * 2) - (#{$main-outer-row-height} * 2) - (#{$main-row-gap} * 2));
$main-inner-row-max-height-max: calc(100vh - (#{$main-padding-max} * 2) - (#{$main-outer-row-height} * 2) - (#{$main-row-gap} * 2));
