// RWD
// Height breakpoints
$breakpoints-height: (
    xxxs: 240px,
    xxs: 280px,
    xs: 360px,
    sm: 480px,
    md: 568px,
    lg: 720px,
    xl: 800px,
    xxl: 960px,
    xxxl: 1080px
);


// Others
// Body
$body-min-width: rem(320px);

// Main
$main-padding: 5vw;
$main-md-padding: 7.5vw;
$main-row-gap: rem(40px);
$main-outer-row-height: rem(20px);
$main-inner-row-min-height: rem(400px);
$main-inner-row-md-min-height: $main-inner-row-min-height;
$main-inner-row-max-height: calc(100vh - (#{$main-padding} * 2) - (#{$main-outer-row-height} * 2) - (#{$main-row-gap} * 2));
$main-inner-row-md-max-height: calc(100vh - (#{$main-md-padding} * 2) - (#{$main-outer-row-height} * 2) - (#{$main-row-gap} * 2));
